@charset "UTF-8";
/* 
*-----------------
*瀹氫箟input鏍峰紡 
*-----------------
*/
/*
 * input-normal
 */
/* line 27, ../sass/style.scss */
.input-normal {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: auto 5px;
  border: 1px solid #aedd81;
}
/* line 34, ../sass/style.scss */
.input-normal :focus {
  border: 5px solid #6bc235;
  box-shadow: -4px 1.5px #aedd81;
}

/* line 40, ../sass/style.scss */
input.input-normal {
  line-height: 34px;
  height: 34px;
  width: 100%;
}

/* line 46, ../sass/style.scss */
.selector {
  background-color: #ffffff;
  border: 1px solid #b1b1b1;
  width: 80px;
  height: 45px;
  display: block;
  float: left;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

/* line 60, ../sass/style.scss */
.selector-checkbox {
  position: fixed;
  left: 0px;
}

/* line 65, ../sass/style.scss */
.selector-checkbox:checked + .selector {
  background-color: #5bc0de;
  border: 1px solid #46b8da;
  color: #ffffff;
}
